p {
  font-family: 'Montserrat', sans-serif;
}

.avc {

    background-color: #6200EE;
    color: white;
    margin: 10px;
    padding: 10px;
    
}
.salary {
  background-color: #03DAC6;
  margin: 10px;
  padding: 10px;
}

div.total {
  background-color: #03DAC6;
  margin: 10px;
  padding: 10px;
}

div.money {
  display:none;
}

div.heading {
  margin-left: 10px;
  padding-left: 10px;
}

input[id=value1] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[id=value1]:focus {
    border: 3px solid #555;
}
